<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tztd.app.mapperOne.PersonCustomOneMapper">
    <select id="selectAllByName" resultType="com.tztd.app.model.Person"
            parameterType="com.tztd.app.pojo.PersonPojo">
        select * from person
        <where>
            <if test="person!=null">
                <if test="person.name!=null and person.name!=''">
                    and person.name like '%${person.name}%'
                </if>
            </if>
        </where>
    </select>
</mapper>